body{
    background: rgb(170, 223, 240);
}
#container{
    background-color: aliceblue;
    border: 5px solid rgb(30, 4, 77);
    height: 200px;
    width: 750px;
    margin-top: 10%;
    margin-inline: 300px;
    /* margin: 0; */
    /* margin: center; */
    text-align: center;
}
#btn{
    margin: 50px auto;
    height: 50px;
    width: 250px;
    background-color: rgb(224, 198, 113);
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
output{
    margin: 25px;
    font-size: 30px;

    
}
